@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Oleo+Script:wght@400;700&family=Outfit:wght@100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Oleo+Script:wght@400;700&family=Outfit:wght@100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Song+Myung&display=swap');
body {
  background-image: url(../img/bg.png)!important;
  font-family: sans-serif !important;
  font-weight: 400 !important;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
}

a {
  color: white ;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: #0078ff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  color: white;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  color: white;
}

.box-shadow,
.paralax-mf,
.service-box,
.work-box,
.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px #cde1f8;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay-mf {
  background-color: white;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*--/ Sections /--*/

.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
}

.sect-mt4 {
  margin-top: 4rem;
}
.title-box {
  margin-bottom: 4rem;
}

.title-a {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #4e4e4e;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: rgb(112 120 128);
  margin: 0 auto;
}

.title-box-2 {
  margin-bottom: 3rem;
}


/* //////////js particles work////////////// */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(39, 40, 41);
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

/* //////////js pre-loader work////////////// */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #000!important; 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible; 
  transition: opacity 1.5s ease, visibility 1.5s ease;
}
#preloader.hidden {
  opacity: 0; 
  visibility: hidden; 
}
#preloader:before {
  content: "";
  border: 6px solid rgb(158, 158, 158)!important;
  border-top: 6px solid white!important; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 5s linear infinite; /* Spinner animation */
}
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*======================================
//--//-->   NAVBAR
======================================*/
.navbar-b {
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}
.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #6c757d;
  text-transform: uppercase;
  font-weight: 500!important;
}
.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}
.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: #1B1B1B;
}
.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  width: 35px;
}
.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}
.navbar-b.navbar-trans .nav-link:before {
  background-color: #fff;
}
.navbar-b.navbar-trans .nav-link:hover {
  color: #fff;
}
.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #fff;
}
.navbar-b.navbar-reduce {
transition: all .5s ease-in-out;
background: rgba(255, 255, 255, 0.24)!important;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)!important;
backdrop-filter: blur(6.1px)!important;
-webkit-backdrop-filter: blur(7.1px)!important;
}
.navbar-b.navbar-reduce .nav-link {
  color: white!important;
}
.navbar-b.navbar-reduce .nav-link:before {
  background-color: white!important;
}
.navbar-b.navbar-reduce .nav-link:hover {
  color: white!important;
}
.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: white;
}
.navbar-b.navbar-reduce .navbar-brand {
  color: white!important;
}
.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: white!important;
}
.navbar-b .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 10px!important;
}
.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}
.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}
.navbar-b .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}
.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #6c757d;
  color: #fff;
  transition: all 500ms ease;
}
.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #6c757d;
}
.navbar-toggler {
  position: relative;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}
.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}
ul.navbar-nav.mx-auto {
  margin-right: 0px !important;
  font-family: system-ui;
  font-size: 16px;
}
nav#mainNav {
  display: inline-block;
}
span.navbar-brand img {
  height: 70px;
  margin-right: 35px;
}

/* Buttons Styling */
.hire-btn, .resume-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-family: system-ui;
}
.resume-btn {
  border: 2px solid white;
  color: white;
}
.resume-btn:hover {
  background-color: white;  
  color: #007bff;   
  transform: scale(1.05); 
} 
.d-flex {
  display: flex;
  gap: 15px;  
}

/* ///////////////////socail icon //////////// */

.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.sticky-icon  {
	z-index:1;
	position:fixed;
	top:30%;
	right:0%;
	width:220px;
	display:flex;
	flex-direction:column;
}  
.sticky-icon a  {
	transform:translate(160px,0px);
	border-radius:50px 0px 0px 50px;
	text-align:left;
	margin:2px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px;
	font-size:20px;
	font-family:'Oswald', sans-serif;
	transition:all 0.8s;
}
.sticky-icon a:hover  {
	color:#FFF;
	transform:translate(0px,0px);
}	
.sticky-icon a:hover i  {
	transform:rotate(360deg);
}
.Facebook  {
  background-color:rgb(39, 40, 41);
	color:#FFF;
}
	
.linkedin  {
	background-color:rgb(39, 40, 41);
	color:#FFF;
}
	
.whatsapp  {
	background-color:rgb(39, 40, 41);
	color:#FFF;
}
	
.Upwork  {
	background-color:rgb(39, 40, 45);
	color:#FFF;
}
	
.Github  {
	background-color:rgb(39, 40, 41);
	color:#FFF;
}						
.sticky-icon a i {
	background-color:rgb(39, 40, 41);
	height:40px;
	width:40px;
	color:#000;
	text-align:center;
	line-height:40px;
	border-radius:50%;
	margin-right:20px;
	transition:all 0.5s;}
.sticky-icon a i.fa-facebook-f  {
  background-color: #494242;
  color: white;
}
	
.sticky-icon a i.fa-github  {
  background-color: #494242;
  color: white;
}
	
  .sticky-icon a i.fa-upwork {
    background-color: #494242;
    color: white;
}
	
.sticky-icon a i.fa-linkedin  {
  background-color: #494242;
  color: white;
}
	
.sticky-icon a i.fa-whatsapp  {
  background-color: #494242;
  color: white;
}	
#myBtn {
	height:50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-align:center;
  padding:10px;
  text-align:center;
	line-height:40px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
.fa-arrow-circle-up  {
	font-size:30px;
}

#myBtn:hover {
  background-color: #555;
}			

/*======================================
//--//-->   ABOUT
======================================*/
.fadein {
  opacity: 0;
  transition: all 1.5s;
  transform: translate(0, 100px);
}

.fadein.visible {
  opacity: 1;
  transform: translate(0, 0);
}
.title-left {
  font-size: 2rem;
  position: relative;
  font-family: math;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: rgb(112 120 128)!important;
  width: 150px!important;
  bottom: -10px;
}

.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: rgb(39, 40, 41);
  color: white;
  border-radius: 5px;
}
.about-mf .about-img {
  margin-bottom: 2rem;
}
.about-mf .about-img img {
  margin-left: 10px;
}
.about-img img {
  border-radius: 50%;
  margin-top: 10%;
  width: 270px; 
  height: 270px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.lead{
  font-size: 18px!important;
}
.title-left2 {
  font-size: 2rem;
  position: relative;
  font-family: math;
}
.title-left2:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: rgb(112 120 128)!important;
  width: 95px;
  bottom: -12px;
}
.skill-mf span {
  color: white!important;
  font-size: 18px;
}
.skill-mf .progress {
  background-color: #cde1f8;
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;
  border-radius: 10px!important;
}
.skill-mf .progress .progress-bar {
  height: .7rem;
  background-color: white!important;
} 

/* ///////////////experience//////////////// */



/*======================================
//--//-->   SERVICES
======================================*/
.title-left3 {
  font-size: 2rem;
  position: relative;
  font-family: math;
}

.title-left3:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: rgb(112 120 128)!important;
  width: 128px;
  bottom: -12px;
}
.section .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: rgb(39, 40, 41);
  color: white;
  border-radius: 5px;
}
#services h1 {
  text-align: center;
  margin: 20px auto;
  color: #333;
}
.shade {
  box-shadow: 0 0.125rem 1.25rem rgb(33 29 29) !important;
}
.card {
  text-align: center;
  margin: 10px;
  background: rgb(39, 40, 41)!important;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  padding-top: 15px!important;
}

.card:hover {
  transform: translateY(-10px);
}

.card .icon {
  width: 100px;
  height: 100px;
  background: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 50px;
  border-radius: 50%;
  color: gray;
  border: 10px solid gray;
  margin: -50px auto 0;
  transition: transform 1s;
}

.card:hover .icon {
  transform: rotate(360deg);
}

.card h2 {
  font-size: 25px;
  margin: 20px auto;
}

.card p {
  font-size: 16px;
  margin: 20px auto;
  padding: 0 20px;
}

/*btn back to work*/
#back-to-top-btn {
  position: fixed;
  bottom: 8px;
  font-size: 22px !important;
  width: 40px !important;
  height: 40px !important;
  background-color: white;
  color: #333;
  cursor: pointer;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  display: none;
  transition: all 0.3s ease-in-out;
}

#back-to-top-btn:hover {
  background-color: #272626;
  color: #fff;
  transform: scale(1.1); 
}


/* ///////////////foooterrr///////////////// */
footer{
  background-color: rgb(39, 40, 41)!important;
}
a.f-linkedin {
  color: white;
  padding: 5px;
  font-size: 28px;
}
a.f-linkedin:hover {
 color: whitesmoke;
}
a.f-Facebook {
  color: white;
  padding: 5px;
  font-size: 28px;

}
a.f-Facebook:hover {
  color: whitesmoke;
}
a.f-whatsapp {
  color: white;
  padding: 5px;
  font-size: 28px;
}
a.f-whatsapp:hover {
  color: whitesmoke;
}
a.f-Github {
  color: white;
  padding: 5px;
  font-size: 28px;
}
a.f-Github:hover {
  color: whitesmoke;
}
a.f-Upwork {
  color: white;
  padding: 5px;
  font-size: 28px;
}
a.f-Upwork:hover {
  color: whitesmoke;
}



/* //////////media queriesss//////////// */
@media (min-width: 769px) {
  .stickyy-icon{
    display: none!important;
  }
}
@media (min-width: 577px) {
  .counter-box {
    margin-bottom: 1.8rem;
  }
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
  .box-shadow-full {
    padding-top: 10px !important;
  }
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
  }
  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    margin-left: 18px;
  }
  .intro .intro-title {
    font-size: 3.5rem!important;
  }
  .intro .intro-subtitle {
    font-size: 36px!important;
  }
  .intro-single .intro-title {
    font-size: 3.5rem;
  }
  .post-box,
  .form-comments,
  .box-comments,
  .widget-sidebar {
    padding: 3rem;
  }
  .box-comments .list-comments .comment-author {
    font-size: 1.5rem;
  }
  .box-shadow-full {
    padding-top: 10px !important;
  }
  #back-to-top-btn {
    font-size: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
} 
}

@media (max-width: 768px) {
  .hire-btn, .resume-btn {
    font-size: 14px;  
    padding: 8px 15px;
  }
  .box-shadow-full {
    padding-top: 10px !important;
  }
.box-shadow-full {
  padding-bottom: 15px !important;
  margin-bottom: 40px;
  }
.about-img img{
  margin-top: 25%!important;
  }
  .sticky-icon{
    display: none;
  }
}

@media (max-width: 414px) {
  .about-img img { 
    margin-top: 19%!important;
    width: 250px;
    height: 250px;
    object-fit: cover; 
  }
  .intro .intro-title {
    font-size: 35px!important;
  }
  .stickyy-icon{
    margin-bottom: 10px;
  }
  a.f-linkedin {
    color: white;
    padding: 5px;
  } 
  a.f-Facebook {
    color: white;
    padding: 5px;
  } 
  a.f-whatsapp {
    color: white;
    padding: 5px;
  } 
  a.f-Github {
    color: white;
    padding: 5px;
  } 
  a.f-Upwork {
    color: white;
    padding: 5px;
  }
  #back-to-top-btn {
    font-size: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
} 
} 

